* {
  font-family: "Quattrocento", serif;
}

body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 50px;
  font-weight: normal;
  position: relative;
  overflow: hidden;
}

p {
  font-size: 22px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
